/*general*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: auto;
    background-color: white;
}
/*body*/
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
body{
    font-family: 'Fredoka', sans-serif;
}
